:root {
    /*PLACEMENT*/
    --top-initial: 100px;
    --top-final: 28px;
    --left-initial: 20px;
    --left-final: 100px;
    /*SIZES*/
    /*Original shape sizes*/
    --primary-circle-diameter: 89px;
    --primary-circle-width: 89px;
    --primary-circle-height: 89px;
    /*Half shape sizes*/
    --secondary-circle-width: 45px;
    --secondary-circle-height: 45px;
    --final-diameter: 100px;
    --tertiary-circle-width: 35px;
    --tertiary-circle-height: 35px;
    --inner-circle-width: 80%;
    --inner-circle-height: 80%;
    --inner-circle-diameter-primary: 73px;
    --stroke-width: 8px;
    --descender-length: 50px;
    --fourth-circle-diameter: 15px;
    /*Translations*/
    --translate-small: 27px;
    /*COLORS*/
    --main-element-color: black;
    --main-background-color: #00FFCC;
    /*TIMING*/
    --interval: 1s;
    /*ARRANGEMENT*/
    --inner-shape-zindex: 10;
    --bar-zindex: 2003;
    /* SHAPES */
    --triangle-line-clip-path: polygon(50% 0, 55% 10%, 10% 100%, 0 100%);
    --flipped-hollow-triangle-clip-path: polygon(0 0, 100% 0, 50% 100%, 44% 88%, 84% 10%, 6% 10%);
    --flipped-prehollow-triangle-clip-path: polygon(0 0, 100% 0, 50% 100%, 44% 88%, 84% 10%, 6% 10%);
}
html {
    box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: var(--main-background-color);
}
#box {
    position: relative;
    margin: auto;
    display: block;
    background: var(--main-background-color);
    width: 250px;
    height: 250px;
    border: 1px solid var(--main-element-color);
}
.primary-shape {
    display: grid;
    position: absolute;
    width: var(--primary-circle-width);
    height: var(--primary-circle-height);
    background-color: var(--main-element-color);
}

/*USE*/

.inner-shape {
    margin: auto;
    display: block;
    background-color: var(--main-background-color);
    z-index: var(--inner-shape-zindex);
}

/*USE*/

.circle {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
.triangle {
    grid-template-rows: 20px 1fr;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/*USE*/

.grow-shape {
    animation-duration: var(--interval);
    animation-name: grow;
    animation-fill-mode: forwards;
}

/*USE*/

.grow-inner-shape {
    animation-duration: var(--interval);
    animation-name: growInnerShape;
    animation-fill-mode: forwards;
}

/*USE*/

.inner-circle-custom {
    animation-duration: var(--interval);
    animation-name: growInnerCircle;
    animation-fill-mode: forwards;
}
.inner-circle-primary {
    animation-duration: var(--interval);
    animation-name: growInnerCirclePrimary;
    animation-fill-mode: forwards;
}
.inner-triangle {
    grid-row-end: -1;
    background-color: var(--main-background-color);
    margin: auto;
    display: block;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    animation-duration: var(--interval);
    animation-name: growInnerCircle;
    animation-fill-mode: forwards;
}
.bar {
    position: absolute;
    width: var(--stroke-width);
    height: var(--stroke-width);
    background-color: var(--main-element-color);
    z-index: var(--bar-zindex);
    ;
    animation-duration: var(--interval);
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}
.mask {
    position: absolute;
    background-color: var(--main-background-color);
    animation-duration: var(--interval);
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}
.slide-vertical {
    animation-duration: var(--interval);
    animation-name: slideShapeVertical;
    animation-fill-mode: forwards;
}
.slide-horizontal {
    animation-duration: var(--interval);
    animation-name: slideShapeHorizontal;
    animation-fill-mode: forwards;
}
.rotate-ninety {
    animation-duration: var(--interval);
    animation-name: rotateNinetyClockwise;
    animation-fill-mode: forwards;
}
.shrink-circle {
    animation-duration: var(--interval);
    animation-name: shrinkCircle;
    animation-fill-mode: forwards;
}
.shrink-elem-four {
    animation-duration: var(--interval);
    animation-name: shrinkElemFour;
    animation-fill-mode: forwards;
}
.grow-circle {
    animation-duration: var(--interval);
    animation-name: growCircle;
    animation-fill-mode: forwards;
}
.grow-descender {
    animation-duration: var(--interval);
    animation-name: growDescender;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes shrinkCircle {
    from {
        width: var(--primary-circle-width);
        height: var(--primary-circle-height);
    }
    to {
        width: var(--tertiary-circle-width);
        height: var(--tertiary-circle-height);
    }
}
@keyframes shrinkElemFour {
    from {
        width: var(--primary-circle-width);
        height: var(--primary-circle-height);
    }
    to {
        width: var(--fourth-circle-diameter);
        height: var(--fourth-circle-diameter);
    }
}
@keyframes growCircle {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.515);
    }
}
@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes growInnerCircle {
    from {
        width: 0%;
        height: 0%
    }
    to {
        width: var(--inner-circle-width);
        height: var(--inner-circle-height);
    }
}
@keyframes growInnerCirclePrimary {
    from {
        width: 0%;
        height: 0%
    }
    to {
        width: var(inner-circle-diameter-primary);
        height: var(inner-circle-diameter-primary);
    }
}
@keyframes growDescender {
    from {
        height: 0px;
    }
    to {
        height: var(--descender-length);
    }
}
@keyframes slideShapeVertical {
    from {
        top: var(--top-initial);
    }
    to {
        top: var(--top-final);
    }
}
@keyframes slideShapeHorizontal {
    from {
        left: var(--left-initial);
    }
    to {
        left: var(--left-final);
    }
}
@keyframes translateShape {
    from {
        top: var(--top-initial);
    }
    to {
        top: var(--top-final);
    }
}
@keyframes rotateNinetyClockwise {
    from {}
    to {
        -ms-transform: rotate(-90deg);
        /* IE 9 */
        -webkit-transform: rotate(-90deg);
        /* Safari */
        transform: rotate(-90deg);
        /* Standard syntax */
    }
}
.move-elem {
    animation-duration: var(--interval);
    animation-name: moveElem;
    animation-fill-mode: forwards;
}
@keyframes moveElem {
    from {}
    to {
        left: var(--left-final);
        top: var(--top-final);
    }
}
.move-left {
    animation-duration: var(--interval);
    animation-name: moveLeft;
    animation-fill-mode: forwards;
}
@keyframes moveLeft {
    from {
        left: var(--left-initial);
    }
    to {}
}
.move-down {
    animation-duration: var(--interval);
    animation-name: moveDown;
    animation-fill-mode: forwards;
}
@keyframes moveDown {
    from {
        top: var(--top-initial);
    }
    to {}
}
.shrink-elem-arbitrary {
    animation-duration: var(--interval);
    animation-name: shrinkElemArbitrary;
    animation-fill-mode: forwards;
}
@keyframes shrinkElemArbitrary {
    from {}
    to {
        width: var(--final-diameter);
        height: var(--final-diameter);
    }
}
.triangle-line {
    animation-duration: var(--interval);
    animation-name: triangleLine;
    animation-fill-mode: forwards;
}
@keyframes triangleLine {
    from {
        -webkit-clip-path: polygon(50% 0, 100% 100%, 100% 100%, 0 100%);
        clip-path: polygon(50% 0, 100% 100%, 100% 100%, 0 100%);
    }
    to {
        -webkit-clip-path: var(--triangle-line-clip-path);
        clip-path: var(--triangle-line-clip-path);
    }
}
.flip-triangle {
    animation-duration: var(--interval);
    animation-name: flipTriangle;
    animation-fill-mode: forwards;
}
@keyframes flipTriangle {
    from {
        -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    to {
        -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    }
}



.hollow-flipped-triangle {
    animation-duration: var(--interval);
    animation-name: hollowFlippedTriangle;
    animation-fill-mode: forwards;
}
@keyframes hollowFlippedTriangle {
    from {
        -webkit-clip-path: var(--flipped-prehollow-triangle-clip-path);
        clip-path: var(--flipped-prehollow-triangle-clip-path);
    }
    to {
        -webkit-clip-path: var(--flipped-hollow-triangle-clip-path);
        clip-path: var(--flipped-hollow-triangle-clip-path);
    }
}












flipped-prehollow-triangle-clip-path:
